:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  margin: 0 0 0px;
}

.mat-h2, .mat-typography h2 {
  margin: 0 0 0px;
}


.spacer {
  flex: 1;
}

.toolbar { 
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #375a7f;
  color: white;
  height: 40px;
}

.toolbar img {
  margin: 0 10px;
  border-radius: 2px;
}

.toolbar button {
  background: transparent;
  border: none;
}

.card-small {
  margin-bottom: 10px;
}

npc-parameters thead {
 visibility: collapse;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent;
}

.mat-form-field {
  font-weight: 200;
}

.mat-option {
  height: 30px!important;
}

search-panel, item-search-panel {
  width: 50%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: green !important;
}

.row {
  display: flex;
  justify-content: space-between;
}

mat-icon {
  color: white;
}

tr.mat-row, tr.mat-footer-row {
  height: 40px !important;
}

.search {
  width: 100%;
  color: white;
}

.content {
  background-color: #303030;
  display: flex;
  margin: 15px auto 32px;
  padding: 0 16px;
  flex-direction: column;
  align-items: center;
  min-height: 900px;
}

mat-card {
  width: 900px;
}

npc-parameters, npc-drop-spoil {
  text-align: -webkit-center;
}

.noRecords {
  color: papayawhip;
  text-align: -webkit-center;
  padding-top: 10px;
}

.itemName {
  padding-left: 10px;
  vertical-align: middle;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.location {
  padding-left: 10px;
  vertical-align: sub;
}

tr.mat-header-row {
  height: 30px !important;
}

mat-header-row, mat-row{
  border-bottom-style: none;
}

table {
  width: 900px;   
}

.container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}

.mat-drawer {
  top: 45px;
}

a,
a:visited,
a:hover {
  color: #00bc8c;
  text-decoration: none;
}

a:hover {
  color: #00a077;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}