<div class="row">
    <div class="col" style="flex-grow: 3;">        
        <search-panel (searchItemId)="doSearch($event)" ></search-panel>
    </div>
    
    <div class="col" style="flex-grow: 2;text-align: -webkit-right;">
        <mat-form-field appearance="fill">
            <mat-label>Select Npc Type</mat-label>  
            <mat-select [(value)]="npcType" (selectionChange)="npcTypeChange($event.value)">
              <mat-option value="Monster">Monster</mat-option>
              <mat-option value="Boss">Boss</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>Select Levels Range</mat-label>
            <mat-select [(value)]="levels[0].value" (selectionChange)="levelChange($event.value)">
            <mat-option *ngFor="let lvl of levels" [value]="lvl.value">
                {{ lvl.viewValue }}
            </mat-option>     
            </mat-select>
        </mat-form-field>
    </div>   
</div>

<table mat-table [dataSource]="dataSource" class="mat-5" 
matSort (matSortChange)="announceSortChange($event)" matSortDisableClear="true">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/npcDetail/', element.npcName.id]" [queryParams]="{chronicle: selectedChronicle}" class="nav-item nav-link">{{element.npcName.name}}</a> 
            <span *ngIf="element.isLocationExist" class="location">
                <a [routerLink]="['/npcDetail/', element.npcName.id]" [queryParams]="{chronicle: selectedChronicle, tab: 3}" 
                class="nav-item nav-link"><mat-icon mat-list-icon>flag</mat-icon></a>
            </span>           
        </td>
    </ng-container>

    <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by level">Level</th>
        <td mat-cell *matCellDef="let element"> {{element.level}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element"> {{element.npcName.npcType}} </td>
    </ng-container>

    <ng-container matColumnDef="sp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sp">SP</th>
        <td mat-cell *matCellDef="let element"> {{element.sp}} </td>
    </ng-container>

    <ng-container matColumnDef="hp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by hp">HP</th>
        <td mat-cell *matCellDef="let element"> {{element.hp}} </td>
    </ng-container>

    <ng-container matColumnDef="mp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mp">MP</th>
        <td mat-cell *matCellDef="let element"> {{element.mp}} </td>
    </ng-container>

    <ng-container matColumnDef="p_atk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by p.atk">P.Atk</th>
        <td mat-cell *matCellDef="let element"> {{element.p_atk}} </td>
    </ng-container>

    <ng-container matColumnDef="m_atk">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by m.atk">M.Atk</th>
        <td mat-cell *matCellDef="let element"> {{element.m_atk}} </td>
    </ng-container>

    <ng-container matColumnDef="atk_speed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by atk.speed">Atk.Speed</th>
        <td mat-cell *matCellDef="let element"> {{element.atk_speed}} </td>
    </ng-container>

    <ng-container matColumnDef="crit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by crit">Crit</th>
        <td mat-cell *matCellDef="let element"> {{element.crit}} </td>
    </ng-container>

    <ng-container matColumnDef="def">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by def">Def</th>
        <td mat-cell *matCellDef="let element"> {{element.def}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>  
   
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngIf="dataSource && dataSource.data && dataSource.data.length === 0" class="noRecords">No records found</div>
