<div>

    <table *ngIf="dataSource && dataSource.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z5"
        style="width: 60%;margin-top: 15px">
        <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef>Item Name</th>
            <td mat-cell *matCellDef="let item">
                <item-box [item]="item"></item-box>
                <span class="itemName"><a [routerLink]="['../../items']"
                        [queryParams]="{itemId: item.nameInfo.itemClassId, chronicle:chronicle}"
                        class="nav-item nav-link">{{item.nameInfo.name}}</a></span>
                <!-- <span class="itemName">{{item.nameInfo.name}}</span>  -->
                <span>{{displayQuantityFn(item)}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="crystal">
            <th mat-header-cell *matHeaderCellDef>Crystals (Grade)</th>
            <td mat-cell *matCellDef="let item"> {{displayCrystalsFn(item)}} </td>
        </ng-container>

        <ng-container matColumnDef="chance">
            <th mat-header-cell *matHeaderCellDef>Chance</th>
            <td mat-cell *matCellDef="let item"> {{calculateChance(item.chance)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="dataSource && dataSource.length === 0" class="noRecords">No records found</div>

</div>