<table class="table table-hover table-sm-4" *ngIf="npc">
    <tbody>
        <tr>
            <td style="border-top:none" scope="row">Acquire Exp Rate</td>
            <td style="border-top:none">{{npc.acquireExpRate}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Acquire Sp</td>
            <td style="border-top:none">{{npc.sp}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Org Hp</td>
            <td style="border-top:none">{{npc.hp}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Org Mp</td>
            <td style="border-top:none">{{npc.mp}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Base Defend</td>
            <td style="border-top:none">{{npc.def}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Base Magic Attack</td>
            <td style="border-top:none">{{npc.m_atk}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Base Magic Defend</td>
            <td style="border-top:none">{{npc.m_def}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Base Physical Attack</td>
            <td style="border-top:none">{{npc.p_atk}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Physical Hit Modify</td>
            <td style="border-top:none">{{npc.physicalHitModify}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Physical Avoid Modify</td>
            <td style="border-top:none">{{npc.physicalAvoidModify}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Base Attack Speed</td>
            <td style="border-top:none">{{npc.atk_speed}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Base Critical</td>
            <td style="border-top:none">{{npc.crit}}</td>
        </tr>
        <tr>
            <td style="border-top:none" scope="row">Social</td>
            <td style="border-top:none">{{npc.social}}</td>
        </tr>       
    </tbody>
</table>